# SKAUS Environment Configuration

# Gateway API
PORT=3001
NODE_ENV=development
LOG_LEVEL=info
CORS_ORIGINS=http://localhost:4000

# Solana
SOLANA_RPC_URL=http://localhost:8899
SOLANA_CLUSTER=localnet
STEALTH_POOL_PROGRAM_ID=EAeFbo2SKK7KGiUwj4WHAYQxVEWFgiU1ygao9rnB7cGq
NAME_REGISTRY_PROGRAM_ID=JAmSyEVzHNCTzC6BETuRQdwK1gLQYUFnzwiVKRVYqpdT

# Relayer
RELAYER_PRIVATE_KEY=
RELAYER_FEE_BPS=10
MAX_PENDING_TXS=50

# Web App
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_GATEWAY_URL=http://localhost:3001
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=EAeFbo2SKK7KGiUwj4WHAYQxVEWFgiU1ygao9rnB7cGq
NEXT_PUBLIC_NAME_REGISTRY_PROGRAM_ID=JAmSyEVzHNCTzC6BETuRQdwK1gLQYUFnzwiVKRVYqpdT
NEXT_PUBLIC_TOKEN_MINT=C25DXFMAFWX3UuyHHJYQEvxpcc14kt2e92kbQ57tWeg
NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_DEMO_MODE=false
